h1
  a(href='./new') 創建證書
.large-4.medium-4.cell
  form(action='/certs', method='post')
    .floated-label-wrapper
      label 證書標題
      input(type='text', name='certTitle', value='certTitle1')
    .floated-label-wrapper
      label 發行日期
      input(type='text', name='issueDate', value='issueDate1')
    .floated-label-wrapper
      label 證書期限
      input(type='text', name='certExpiredDate', value='certExpiredDate1')
    .floated-label-wrapper
      label 證書資訊
      input(type='text', name='info', value='info1')
    .floated-label-wrapper
      label 證書圖檔
      input#thumbnail(type='hidden', name='thumbnail')
      input#fileinput(type='file', accept='image/gif, image/jpeg, image/png', onchange='readURL(this);')
      |             (max: 100KB)
      img#preview(src='')
    .floated-label-wrapper
      label 受與者
      select.chosen-select(data-placeholder='Choose a Receiver...', tabindex='1', name='receiver')
        option(value='')
    .floated-label-wrapper
      label 發行單位
      select.chosen-select(data-placeholder='Choose a Issuer...', tabindex='2', name='issuer')
        option(value='')
    input.button(type='submit', value='創建證書')
