<h1><a href='./new'>創建證書</a></h1>
<div class='large-4 medium-4 cell'>
  <form action='/certs' method='post'>
    <!-- certId: <input type="text" name="certId" value="certId1"/> -->
    certTitle: <input type="text" name="certTitle" value="certTitle1"/>
    certStatus: <input type="text" name="certStatus" value="certStatus1"/>
    issueDate: <input type="text" name="issueDate" value="issueDate1"/>
    certExpiredDate: <input type="text" name="certExpiredDate" value="certExpiredDate1"/>
    info: <input type="text" name="info" value="info1"/>
    thumbnail: <input type="text" name="thumbnail" value="thumbnail1"/>
    receiver: <input type="text" name="receiver" value="receiver1"/>
    issuer: <input type="text" name="issuer" value="issuer1"/>
    <input type='submit' class='button' value="創建證書"/>
  </form>
</div>
<%= message %>
