<h1><a href='./new'>創建學校資料</a></h1>
<div class='large-4 medium-4 cell'>
  <form action='/issuers' method='post'>
    學校編號: <input type='text' name='identify' value='PCCU' />
    名稱: <input type='text' name='name' value='文化大學'/>
    <input type='submit' class='button' value='創建學校'/>
  </form>
</div>
<%= message %>
