input[type=submit] {
  float: right;
  margin-bottom: 3em;
  clear: both;
}

form {
  width: 80%;
  border: 1px solid #ccc;
  padding: 2% 2% 8%;
}


#logo {
  font-size: 2em;
}

h1 {
  font-size: 1.5em;
  margin-top: 2em;
}

table {
  thead, tbody {
    th, td {
      border: 1px solid #ddd;
    }

    th {
      text-align: center;
      background-color: #ddd;
    }
  }
}


.dropdown {
  float: right;
  clear: both;
}
