img.colorbox {
  display: block!important;
}

input[type=text]{
  width: 75%;
  display: inline;
  clear: right;
}

label {
  display: inline-block;
  width: 20%;
  text-align: right;
}

input[type=submit] {
  float: right;
  margin: 1em 0 3em;
  clear: both;
}

form {
  width: 75%;
  border: 1px solid #ccc;
  padding: 2% 2% 8%;
}


#logo {
  font-size: 2em;
}

h1 {
  font-size: 1.5em;
  margin-top: 2em;
}

table {
  thead, tbody {
    th, td {
      border: 1px solid #ddd;
    }

    th {
      text-align: center;
      background-color: #ddd;
    }
  }
}


.dropdown {
  float: right;
  clear: both;
}


table tr .thumb {
  max-width: 50px;
}
