form .floated-label-wrapper {
  margin-bottom: 1em;
}

img.colorbox {
  display: block!important;
}

input[type=text], input[type=file], select{
  width: 75%;
  display: inline;
  clear: right;
  margin: 0;
}

input[type=file] {
  width: 105px;
}

label {
  display: inline-block;
  margin-right: 0.5em;
  width: 20%;
  text-align: right;
}

input[type=submit] {
  float: right;
  margin: 1em 0 3em;
  clear: both;
}

form {
  width: 75%;
  border: 1px solid #ccc;
  padding: 2% 2% 8%;
}


#logo {
  font-size: 2em;
}

h1 {
  font-size: 1.5em;
  margin-top: 2em;
}

table {
  thead, tbody {
    th, td {
      border: 1px solid #ddd;
    }

    th {
      text-align: center;
      background-color: #ddd;
    }
  }
}


.dropdown {
  float: right;
  clear: both;
}


table tr, form {
  & img {
    max-width: 50px;
    border: 1px solid #ddd;
  }
}

form #preview {
  max-height: 50px;
  display: inline-block!important;
  border: 1px solid #ddd;
}


#qrcode {
  width: 120px;
  height: 120px;
  bottom: 0px;
  right: 0;
  position: absolute;
}
