<h1><a href='./new'>創建證書</a></h1>
<div class='large-4 medium-4 cell'>
  <form action='/certifications' method='post'>
    <div class='floated-label-wrapper'>
      <label>證書序號</label>
      <input type="text" name="certNo" value="certNo1"/>
      <label>證書標題</label>
      <input type="text" name="certTitle" value="certTitle1"/>
      </div>
        <div class='floated-label-wrapper'>
          <label>發行日期</label>
          <input type="text" name="issueDate" value="issueDate1"/>
          </div>
          <div class='floated-label-wrapper'>
            <label>證書期限</label>
            <input type="text" name="certExpiredDate" value="certExpiredDate1"/>
          </div>
          <div class='floated-label-wrapper'>
            <label>證書圖檔</label>
            <input id='thumbnail' type="hidden" name="thumbnail" />
            <input id="fileinput" type="file" accept="image/gif, image/jpeg, image/png, application/pdf" onchange="readURL(this);" />
            (max: 100KB)
            <img id='preview' src='' class='colorbox' />
          </div>
          <div class='floated-label-wrapper'>
              <label>受與者身份證字號</label>
              <input type="text" name="receiverId" value="receiverId1"/>
          </div>
          <div class='floated-label-wrapper'>
              <label>受與者名</label>
              <input type="text" name="receiverFirstName" value="receiverFirstName1"/>
          </div>
          <div class='floated-label-wrapper'>
              <label>受與者姓</label>
              <input type="text" name="receiverLastName" value="receiverLastName1"/>
          </div>
          <div class='floated-label-wrapper'>
            <label>發行單位</label>
            <input type="text" name="issuerName" value="issuerName1"/>
          </div>
          <div class='floated-label-wrapper'>
            <label>證書狀態</label>
            <input type="text" name="certStatus" value="EFFECTIVE"/>
          </div>
          <div class='floated-label-wrapper'>
            <label>證書資訊</label>
            <input type="text" name="info" value="info1"/>
          </div>
          <input type='submit' class='button' value="創建證書"/>
          </form>
        </div>
        <%= message %>

<script>
  $(document).ready(function(){

  })
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        var result = e.target.result
        $('#preview').attr('src', result);
        $('#falseinput').attr('src', result);
        $('#thumbnail').attr('value', result);
        $('.colorbox').fancybox();
      };
    reader.readAsDataURL(input.files[0]);
    }
  }
</script>
