body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:676px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:24px;
  width:75px;
  height:17px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:95px;
  width:612px;
  height:95px;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:0px;
  width:150px;
  height:30px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:0px;
  width:145px;
  height:30px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:0px;
  width:125px;
  height:30px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:0px;
  width:78px;
  height:30px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:0px;
  width:73px;
  height:30px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:36px;
  height:30px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:30px;
  width:150px;
  height:30px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:30px;
  width:145px;
  height:30px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:30px;
  width:125px;
  height:30px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:30px;
  width:78px;
  height:30px;
  text-decoration:underline;
  color:#0000FF;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:30px;
  width:73px;
  height:30px;
  text-decoration:underline;
  color:#0000FF;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:36px;
  height:30px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:60px;
  width:150px;
  height:30px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:60px;
  width:145px;
  height:30px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:60px;
  width:125px;
  height:30px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:60px;
  width:78px;
  height:30px;
  text-decoration:underline;
  color:#0000FF;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:60px;
  width:73px;
  height:30px;
  text-decoration:underline;
  color:#0000FF;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:68px;
  width:145px;
  height:17px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:132px;
  width:86px;
  height:16px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:161px;
  width:86px;
  height:16px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:195px;
  width:140px;
  height:25px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:101px;
  width:17px;
  height:16px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:274px;
  width:300px;
  height:64px;
  color:#FF0000;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:225px;
  width:140px;
  height:25px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
