body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:379px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:261px;
  width:77px;
  height:25px;
}
#u98_input {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:266px;
  width:155px;
  height:16px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u99_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:243px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:243px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:114px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
