<h1><a href='./'>創建學生資料</a></h1>
<div class='large-4 medium-4 cell'>
  <form action='/receivers' method='post'>
    學生身份證號: <input type='text' name='identify' value="A123456789" />
    姓: <input type='text' name='lastname' value='王' />
    名: <input type='text' name='firstname' value="大丙" />
    <input type='submit' class='button' value='創建學生'/>
  </form>
</div>
