<h1><a href=''><%= id %>的證書列表</a></h1>

<table>
<% _.each(certs, function(item) { %>
  <tr>
  <td><%= item.certTitle %></td>
  <td><%= item.certId %></td>
  <td>
    <a class="btn btn-info btn-sm btn-hover pdf" data-fancybox-type="iframe" href="<%= item.thumbnail %>">證書</a>
  </td>
  </tr>
<% }) %>
</table>

