<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/dependencies/foundation/css/foundation.css">
    <link rel="stylesheet" href="/dependencies/foundation/css/app.css">
    <link rel="stylesheet" href="/styles/application.css">
  </head>
  <body>
    <div class="grid-container">
      <div class='top-bar-left'>
        <ul class='menu'>
          <li><a href='/receivers/new'>建立學生</a></li>
          <li><a href='/receivers'>列出所有學生</a></li>
        </ul>
      </div>
      <%- body %>
    </div>
    <script src="/dependencies/sails.io.js"></script>
    <script src="/dependencies/foundation/js/vendor/jquery.js"></script>
    <script src="/dependencies/foundation/js/vendor/what-input.js"></script>
    <script src="/dependencies/foundation/js/vendor/foundation.js"></script>
    <script src="/dependencies/foundation/js/app.js"></script>
    <script src="/js/application.js"></script>
  </body>
</html>
