<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/dependencies/foundation/css/foundation.css">
    <link rel="stylesheet" href="/dependencies/foundation/css/app.css">
    <link rel='stylesheet' href="/dependencies/chosen/chosen.css">
    <!-- <link rel='stylesheet' href="/dependencies/colorbox/colorbox.css"> -->
    <link rel='stylesheet' href="/dependencies/fancybox/source/jquery.fancybox.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <script src="/dependencies/foundation/js/vendor/jquery.js"></script>
  </head>
  <body>
    <div class="grid-container">
      <div class='top-bar-left'>
        <div class="top-bar-title">
          <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle></button>
          </span>
          <div id='logo'><a href='/'>證書區塊鏈</a></div>
        </div>
        <div id="responsive-menu">
          <div class="top-bar-left">
            <ul class="dropdown vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown" data-auto-height="true" data-animate-height="true">
              <li>
                <a href="#">學生</a>
                <ul class="menu">
                  <li><a href="/receivers/new">新增</a></li>
                  <li><a href="/receivers">列出所有</a></li>
                </ul>
              </li>
              <li>
                <a href="#">學校</a>
                <ul class="menu">
                  <li><a href="/issuers/new">新增</a></li>
                  <li><a href="/issuers">列出所有</a></li>
                </ul>
              </li>
              <li>
                <a href="#">證書</a>
                <ul class="menu">
                  <li><a href="/certs/new">新增</a></li>
                  <li><a href="/certs">列出所有</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <%- body %>
      <div id='qrcode'></div>
    </div>
    <script src="/dependencies/sails.io.js"></script>
    <script src="/dependencies/foundation/js/vendor/jquery.js"></script>
    <script src="/dependencies/chosen/chosen.jquery.js"></script>
    <script src="/dependencies/underscore/underscore.min.js"></script>
    <!-- // <script src="/dependencies/colorbox/jquery.colorbox-min.js"></script> -->
    <script src="/dependencies/fancybox/source/jquery.fancybox.js"></script>
    <script src="/dependencies/foundation/js/vendor/what-input.js"></script>
    <script src="/dependencies/foundation/js/vendor/foundation.js"></script>
    <script src="/dependencies/foundation/js/app.js"></script>
    <script src='/dependencies/qrcode/qrcode.min.js'></script>
    <script src="/js/application.js"></script>
  </body>
</html>
